.pokemon-card-component
  background-color #fff
  text-align center
  border-top-left-radius 10px
  border-top-right-radius 10px
  border-bottom-left-radius 2px
  border-bottom-right-radius 2px
  box-shadow 0px 0px 20px rgba(0,0,0,0.2)
  transition box-shadow 300ms ease 0s
  &:hover
    box-shadow 0px 0px 30px rgba(0,0,0,0.6)

.pokemon-card-component_header
  position relative
  background-color #f2f2f2
  padding 10px 0px 20px
  &:after
    content ''
    background-color #fff
    width 30px
    height 30px
    border-radius 50%
    position absolute
    top calc(100% - 15px)
    left 50%
    transform translateX(-50%)

.pokemon-card-component_body
  padding 20px 15px 15px

.pokemon-card-component_name
  text-transform capitalize
  font-size 1.5rem
  letter-spacing 1px
  margin 0px 0px 10px

.pokemon-card-component_number
  color #919191
  font-size 1rem
  font-weight 700
  vertical-align middle

.pokemon-card-component_type
  border-radius 3px
  padding 5px
  color white
  width calc(((100% / 12) * 4) - 6px)
  color #fff
  font-size .875rem
  margin 3px
  &-grass, &-bug
    background-color #9BCC50
  &-poison
    background-color #B97FC9
  &-fire
    background-color #FD7D24
  &-water
    background-color #4592C4
  &-normal
    background-color #BDB9B8
  &-flying
    background: linear-gradient(#3dc7ef 50%, #bdb9b8 50%) #3dc7ef;
