.pokemon-profile-card
  background-color #fff
  border-radius 6px
  padding-top 15px
  padding-bottom 15px
  box-shadow 0px 0px 20px rgba(0,0,0,0.2)

  h1
    margin 0px
    text-transform capitalize
    span
      color #919191

.pokemon-profile-details
  background-color #30a7d7
  color #fff
  padding 15px
  border-radius 4px
  text-align center

  p
    letter-spacing 1px
    font-weight 600

  .pokemon_type
    margin 0px 5px 0px 0px
    padding 5px 10px
    display inline-block

.pokemon-profile-evolutions
  border-top 1px solid rgba(0,0,0,0.2)
  margin-top 15px
  padding-top 15px
  text-align center

  h4
    margin 0px 0px 15px

  .evolution-details
    li
      position relative
      p
        margin 0px
      span
        display block
        text-transform capitalize
